html{
  position: relative;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0C1016;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.desktopNavbar {
  background-color: rgba(30, 41, 58, 0.75);
  width: 75%;
  height: 75px;
  border-radius: 25px;
  border: 1px solid #2A4D8E;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 0; 
  position: fixed;
  top: 50px;
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 1000; 
}

.navbar-left,
.navbar-right {
  flex: 1; /* Equal space for left and right sections */
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Left-aligned for left section */
}

.navbar-right {
  justify-content: flex-end; /* Right-aligned for right section */
}

.navbar-center {
  flex: 1; /* Take up more space in the center */
  display: flex;
  justify-content: space-evenly; /* Equal spacing between links */
  align-items: center;
}

.logo {
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  width: 60px; /* Example width */
  height: 60px; /* Example height */
  background-color: #1E293A; /* Background color for the container */
  border-radius: 19px; 
  margin-left: 10px;
  border: 1px solid #2A4D8E;
  position: relative; /* Ensures compatibility with surrounding elements */
}

.logoImage {
  z-index: 1001;
}

.nav-link {
  font-size: 16px;
  color: white;
  text-transform: capitalize;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: #2A4D8E;
  border-radius: 15px;
}

.contact-btn {
  font-size: 16px;
  color: white;
  padding: 15px 20px;
  background-color: black;
  border-color: #2A4D8E;
  border-width: 1px;
  border-style: solid;
  margin-right: 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "League Spartan";
}

.contact-btn:hover {
  background-color: #2A4D8E;
}

.headerElement{
  font-family: "rubik", sans-serif;
  color: #FFFFFF;
  font-weight: 400;
}

.backgroundImage {
  position: absolute;
}

.introducing{
  margin: 0 auto;
  font-family: "rubik", sans-serif;
  color: #F2F3F8;
  font-size: 16px;
  font-weight: 200;
  display: flex;
  position: absolute;
  top: 200px;
  left: 46.5%;
  text-align: center; 
}

.content-layer {
  position: relative; 
  z-index: 1;
}

.background-layer {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1; 
  pointer-events: none;
}

.BCSolutions {
  position: absolute;
  top: 170px;
  left: 40%;
  font-size: 60px;
  font-family: "Nunito";
  font-weight: 200;
  color: white;
}

.Main {
  font-weight: 800;
}

.blurredCircle {
  position: absolute;
  border-radius: 50%; 
  background: radial-gradient(
    circle, 
    rgba(40, 47, 79, 0.4) 0%,  
    rgba(72, 76, 139, 0.01) 50%,  
    transparent 100%             
  );
  top: 50%;       
  left: 50%;      
  transform: translate(-50%, -35%);
  z-index: 1;     
  height: 100vh;   
  width: 100vh;
}

.partnering {
  width: 550px;
  color: #FFFFFF;
  font-family: "League Spartan";
  left: 33%;
  top: 310px;
  position: absolute;
  text-align: center;
  font-weight: 200;
}

.getStarted {
  position: absolute; /* Absolute positioning */
  top: 400px; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for the element's size to truly center it */
  background-color: #6577c91f; /* Button background color */
  color: #FFFFFF; /* Button text color */
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px; /* Adjust padding for button size */
  border: 1px solid #606A7B; /* Remove default border */
  border-radius: 15px; /* Rounded edges */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
  text-align: center;
  cursor: pointer; /* Pointer cursor for interactivity */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.getStarted:hover {
  background-color: #2A4D8E; /* Hover background color */
  color: #FFFFFF; /* Hover text color */
}

.Create {
  position: absolute;
  top: 500px;
  left: 15%;
}

.BenefitsHeader {
  font-family: "Nunito";
  font-size: 36;
  color: white;
  position: absolute;
  top: 1100px;
  left: 45%;
}

.BenefitCardDesktop {
  height: 25vw;
  width: 26vw;
  color: white;
  background-color: #0C1016;
  border-radius: 15px;
  border: 1px solid #2E333B;
  overflow: hidden;
}

.BenefitCardDesktop h3{
  font-family: "Nunito";
}

.BenefitCardDesktop p{
  font-family: "League Spartan";
}


.BenefitsDesktop {
    position: absolute; 
    top: 1500px; 
    height: 600px;
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 80%; 
    display: flex; 
    justify-content: space-between; 
    padding: 20px; 
}

.bottomDecorations {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 28%;
  padding: 0 20px;
  position: absolute;
}

.bottomLeftDecoration {
  width: 6px;
  height: 6px;
  position: relative;
  background-color: white;
  border-radius: 50%;
}

.bottomRightDecoration {
  width: 6px;
  height: 6px;
  position: relative;
  background-color: white;
  border-radius: 50%;
}

.HeaderBenefitsCard{
  position: relative;
  left: 25px;
  top: 0px;
}

.ParagraphBenefitsCard {
  position: relative;
  left: 25px;
  width: 19vw;
  font-weight: 200;
}

.FirstBenefit {
  position: relative; 
  left: 0vw; 
  clip-path: inset(0 0 0 0); 
  object-fit: cover; 
  overflow: hidden; 
  height: 65%;
}

.SecondBenefit{
  margin-left: 3vw;
}

.ThirdBenefit {
  margin-top: 2vw;
  left: -2vw;

  position: relative; 
  left: -2vw; 
  clip-path: inset(0 0 0 2vw); 
  object-fit: cover; 
  overflow: hidden; 
}

#secondBenefit {
  margin-top: -55px;
}

#thirdBenefit {
  margin-top: 20px;
}

.DesktopIconHolder {
  position: absolute; 
  top: 1750px; 
  height: 100px;
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 60%; 
  display: flex; 
  justify-content: space-between; 
  padding: 20px; 
}

.ItemHeader {
  font-family: "Nunito";
  font-size: 14px;
  font-weight: 200;
  color: #F2F3F8;
  position: relative;
  margin-top: 20px;
}

.holdImage{
  height: 60px;
  width: 60px;
}

.ItemComponentDesktop {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  height: 100%; 
}

.OurTeam {
  font-family: "Nunito";
  font-size: 36;
  color: white;
  position: absolute;
  top: 1900px;
  left: 47%;
}

.OurTeamDesktop {
  position: absolute; 
  top: 2300px; 
  height: 600px;
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 80%; 
  display: flex; 
  justify-content: space-between; 
  padding: 20px; 
}

.TeamMemberDesktop {
  height: 40vw;
  width: 39vw;
  color: white;
  background-color: #0C1016;
  border-radius: 15px;
  border: 1px solid #2E333B;
  overflow: hidden;
}

.TopMemberDecorations {
  position: absolute;
  top: 45px;
  transform: translateX(23px);
  width: calc(38vw - 30px) ;
  height: 30px;
  display: flex; 
  justify-content: space-between; 
}

.TopLeftDecoration {
  width: 6px;
  height: 6px;
  position: relative;
  background-color: white;
  border-radius: 50%;
}

.TopRightDecoration {
  width: 6px;
  height: 6px;
  position: relative;
  background-color: white;
  border-radius: 50%;
}

.bottomMemberDecorations {
  position: absolute;
  top: calc(40vw - 20px);
  transform: translateX(23px);
  width: calc(38vw - 30px) ;
  height: 30px;
  display: flex; 
  justify-content: space-between; 
}

.bottomLeftMemberDecoration, .bottomRightMemberDecoration {
  width: 6px;
  height: 6px;
  position: relative;
  background-color: white;
  border-radius: 50%;
}

/* <div className="bottomMemberDecorations" id = {props.decorationID}>
<div className="bottomLeftMemberDecoration"></div>
<div className="bottomRightMemberDecoration"></div> */